body {
  font-family: sans-serif;
  font-size: 12pt;
}

._map-mapbox-location {
  height: 50vh;
}

@media only screen and (min-height: 600px) {
  ._map-mapbox-location {
    height: calc(100vh - 300px);
  }
}
