{% extends 'crosscompute:templates/base.jinja2' %}

{% block head_html -%}
{{ super() -}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFK1JKG1B4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-MFK1JKG1B4');
</script>
{% endblock %}
