body {
  font-family: Arial, Verdana, sans-serif;
  line-height: 130%;
  font-size: 12pt;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 1in;
  margin-bottom: 1in;
}

@media print {
  h1 {
    page-break-before: always;
  }
}