body {
  font-family: Arial, Verdana, sans-serif;
  line-height: 130%;
  font-size: 12pt;
}

@page {
  /* size: landscape; */
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 1in;
  margin-bottom: 1in;
}

#front-cover-title {
  position: absolute;
  top: 9in;  /* Depends on page and image dimensions */
  font-size: 32pt;
  line-height: 130%;
  transform: translate(0, -50%);
}

/* Right align cells that are not in the first column */
td:not(:first-child) {
  text-align: right;
}

/* Set color for first row cells that are not in the first column */
[class*="Electricity"] tbody :nth-child(2) td:not(:first-child) {
  color: red;
}

/* Set color for first row cells that are not in the first column */
[class*="Gas"] tbody :nth-child(2) td:not(:first-child) {
  color: blue;
}

/* Footnotes */

@media print {
  footer {
    page-break-after: always;
  }
}

article {
  counter-reset: footnotes;
}

footer {
  margin-top: 5em;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 2em;
}

footer :target {
  background: yellow;
}

[aria-describedby='footnote-label'] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

[aria-describedby='footnote-label']::after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 0.3em;
  color: blue;
  cursor: pointer;
}

[aria-describedby='footnote-label']:focus::after {
  outline: thin dotted;
  outline-offset: 0.3em;
}

[aria-label='back to content'] {
  font-size: 0.8em;
}
